.header {
    text-align: center;
    border-bottom: blueviolet solid 5px;
    border-radius: 5%;
}

.header-title {
    color: blueviolet;
    font-size: 3em;
}

.header-title-explanation {
    font-size: 1.2em;
}