/* Index Header */

.btn-circle {
    height: 3em;
    width: 7.5em;
}

.bold {
    font-weight: bold;
}

#glyph {
    font-size: 2em;
}

h1 {
    color: #660099;
}

.header {
    text-align: center;
    font-size: 2em;
}

#redirect {
    margin-bottom: 5rem;
}

#title {
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 20rem;
    margin-left: 5rem;
}

/* Index Body */

.link {
    color: #660099;
}

.main-body {
    background-color: rgb(102,0,153,.75);
    margin-top: 3em;
}

.reveal-title {
    color: white;
    margin-bottom: 1.5em;
}