* {
    background-color: blueviolet;
}

.header {
    text-align: center;
    border-bottom: white solid 5px;
    border-radius: 5%;
}

.header-title {
    color: white;
    font-size: 3em;
}

.header-title-explanation {
    color: white;
    font-size: 1.2em;
}